/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #17191A;
}

header {
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
    padding: 0.5em;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 1em;
    margin: 0 1em;
}

nav a:hover {
    color: #ccc;
}

main {
    padding: 1em;
    text-align: center;
    background-color: #17191A;
    color: #cacaca;
}


img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

hr {
    color: #444444;
    background-color: #444444;
    height: 2px;
    border: none;
}

.log-entry {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 30px 100px;
}

.log-entry h2 {
    margin-bottom: 10px;
}

.square {
    text-align: left;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 30px 180px; /* 30 is bottom, 180 is the sides (left and right) */
}

.square img {
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 10%;
}
